<!--//This file was adapted from CS340's nodejs starter app repo.-->

<!DOCTYPE html>
<html>
  <head>
    <title>SocialByte - Posts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/delete_comment.js"></script>
  </head>
  <body>
    <div class="banner">
      <h1>SocialByte</h1>
    </div>    
    <nav>
      <a href="index">Home</a>
      <a href="posts">Posts</a>
      <a href="users">Users</a>
      <a href="hashtags">Hashtags</a>
      <a href="comments">Comments</a>
    </nav>
    <!--Container to hold comments
    comments will populate from database eventually -->
    <div class="container">
      <h1>Comments</h1>
      <h2>Browse, create, update and delete comments on this page.</h2>
      <table id="comments-table">
        <thead>
          <tr>            
            <th>Authors</th>
            <th>Contents</th> 
            <th>Parent Post</th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <!--Each comment link here will use the comment ID to link to a comment's contents page unique to that comment.-->  
        <tbody>
          {{#each data}}
        <tr data-value={{this.comment_id}}>            
            <td>{{this.commenter}}</td>
            <td>{{this.contents}}</td>
            <td>{{this.parent_post}}</td>  
            <td>
                <button onclick="deleteComment({{this.comment_id}})">
                    Delete
                </button>
            </td>                
        </tr>
            {{/each}}
        </tbody>
    </table>
    </div>

    <!-- Container for comment form to create new comment -->
    <div class="comments-container">
            <label><h1>Create a New Comment</h1></label> 
            <form id="add-comment-form-ajax">            
                <fieldset class="fields">
                    

                </fieldset> 
                <input class="btn" type="submit" id="submitCommment" value="Add Comment">
            </form>

        {{!-- Embed javascript to handle the DOM manipulation and AJAX request--}}
        <script src="./js/add_comment.js"></script>
        </div>
    
  <!-- Footer -->
  <footer>
      <p>&copy; 2023 SocialByte</p>
  </footer>
  </body>
</html>
