<!--//This file was adapted from CS340's nodejs starter app repo.-->

<!DOCTYPE html>
<html>
  <head>
    <title>SocialByte - Posts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/delete_comment.js"></script>
  </head>
  <body>
    <div class="banner">
      <h1>SocialByte</h1>
    </div>    
    <nav>
      <a href="index">Home</a>
      <a href="posts">Posts</a>
      <a href="users">Users</a>
      <a href="hashtags">Hashtags</a>
      <a href="comments">Comments</a>
    </nav>
    <!--Container to hold comments
    comments will populate from database eventually -->
    <div class="container">
      <h1>Comments</h1>
      <h2>Browse, create, update and delete comments on this page.</h2>
      <table id="comments-table">
        <thead>
          <tr>            
            <th>Authors</th>
            <th>Contents</th> 
            <th>Parent Post</th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <!--Each comment link here will use the comment ID to link to a comment's contents page unique to that comment.-->  
        <tbody>
          {{#each data}}
        <tr data-value={{this.comment_id}}>            
            <td>{{this.commenter}}</td>
            <td>{{this.contents}}</td>
            <td>{{this.parent_post}}</td> 
            <td><a href="edit-comment?id={{this.comment_id}}">Edit</td> 
            <td>
                <button onclick="deleteComment({{this.comment_id}})">
                    Delete
                </button>
            </td>                
        </tr>
            {{/each}}
        </tbody>
    </table>
    </div>

    <!-- Container for comment form to create new comment -->
    <div class="container">
            <label><h1>Create a New Comment</h1></label> 
            <form id="add-comment-form" method="POST" action="/add-comment-form"> 
              <div class="form-group">
                <label for="commentAuthor">Who is the author of the comment?</label>
                <input type="text" name="commentAuthor" id="commentAuthor">
                <br></br>

                <label for="parentPost">What post is the comment for?</label>
                <input type="number" name="parentPost" id="parentPost">
                <br></br>

                <label for="commentContent">Type your comment here:</label>
                <textarea name="commentContent" id="commentContent" rows="3" required></textarea>


              </div>         
                    
                <input type="submit">
            </form>
        </div>
    
  <!-- Footer -->
  <footer>
      <p>&copy; 2023 SocialByte</p>
  </footer>
  </body>
</html>
