<!--//This file was adapted from CS340's nodejs starter app repo.-->

<!DOCTYPE html>
<html>
  <head>
    <title>SocialByte - Edit Post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/delete_post.js"></script>

  </head>
  <body>
    <div class="banner">
      <h1>SocialByte</h1>
    </div>    
    <nav>
      <a href="index">Home</a>
      <a href="posts">Posts</a>
      <a href="users">Users</a>
      <a href="hashtags">Hashtags</a>
      <a href="comments">Comments</a>
      <a href="posts_hashtags">Posts_Hashtags</a>

    </nav>
    <main>
    <!-- Container for post edit form. 
    Eventually contents from post will autofill the textbox when page loads-->
    <div class="container">
      <h1>Edit Post</h1>
      <form id="update-post-form-ajax">
          <label for="postAuthor">Author name: </label>
          <select name="postAuthor" id="mySelect">
            <option value="">Select a User</option>
            {{#each users}}
              <option value="{{this.user_id}}">{{this.name}}</option>
            {{/each}}
          </select>

          <br/>
          <br/>
          <label for="postContent">Type edited post here:</label>
          <textarea name="postContent" id="postContent" rows="3" required>{{selectedContents}}</textarea>

          <input type="submit">
      </form>
      
    </div>

    <div class="container">
      <h1>Posts</h1>
      <h2>Browse, create, update and delete posts on this page.</h2>
      <table id="post-table">
        <thead>
          <tr>
            <th>Post Number</th>
            <th>Post Author</th>
            <th>Post Contents</th>            
            <th></th>
            <th></th>                     
          </tr>
        </thead>
        <!--Each post link here will use the post ID to link to a post contents page unique to that post.-->  
        <tbody>
          {{#each data}}
          <tr data-value={{this.post_id}}>
            <td>{{this.post_id}}</td>
            <td data-field="name">{{this.name}}</td>        
            <td data-field="content"><a href="post-details?id={{this.post_id}}">{{this.contents}}</a></td>             
            <td><a href="edit-post?id={{this.post_id}}">Edit</td>
            <td><button onclick="deletePost({{this.post_id}})">
                Delete
              </button>
            </td>
              
          </tr>
          {{/each}}
        </tbody>
      </table>
      
    </div>
    </main>
    <footer>
      <p>&copy; 2023 SocialByte</p>
    </footer>
    <script src="/js/update_post.js"></script>
  </body>
</html>
