<!--//This file was adapted from CS340's nodejs starter app repo.-->

<!DOCTYPE html>
<html>
  <head>
    <title>SocialByte - Edit Hashtag</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="banner">
      <h1>SocialByte</h1>
    </div>    
    <nav>
      <a href="index">Home</a>
      <a href="posts">Posts</a>
      <a href="users">Users</a>
      <a href="hashtags">Hashtags</a>
      <a href="comments">Comments</a>
      <a href="posts_hashtags">Posts_Hashtags</a>

    </nav>
    <main>
      <script>
            // Retrieve the comment ID from the URL
            const urlParams = new URLSearchParams(window.location.search);
            const hashtagId = urlParams.get('id');
        </script>
      <!-- Container for edit hashtag form. -->
      <div class="container">
        <label><h1>Edit Hashtag</h1></label> 
        <form id="editHashtag">            
          <fieldset class="fields">
          <textarea class="form-control" id="hashtagContents" rows="3">{{selectedHashtag.description}}</textarea>
          </fieldset> 
          <input class="btn" type="submit" id="submitHashtag" value="Save Changes">
        </form>        
      </div>

      <!-- container for users table -->
    <div class="hashtag-container">
        <h1>Hashtags</h1>
        <table id="hashtag-table">
            <thead>
            <tr>            
                <th>Hashtag ID</th>
                <th>Hashtag</th> 
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {{#each data}}
            <tr data-value={{this.hashtag_id}}>            
                <td>{{this.hashtag_id}}</td>
                <td>{{this.description}}</td>
                <td><a href="edit-hashtag?id={{this.hashtag_id}}">Edit</td>
                <td>
                <button onclick="deleteHashtag({{this.Hashtag_id}})">
                    Delete
                </button>
                </td>              
            </tr>
            {{/each}}
            </tbody>
        </table>
        </div>
    </main>
    <footer>
    <script src="/js/update_hashtag.js"></script>

      <p>&copy; 2023 SocialByte</p>
    </footer>
  </body>
</html>
