<!--//This file was adapted from CS340's nodejs starter app repo.-->
<!DOCTYPE html>
<html>
  <head>
    <title>SocialByte - Posts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/delete_post.js"></script>
  </head>
  <body>
    <div class="banner">
      <h1>SocialByte</h1>
    </div>    
    <nav>
      <a href="index">Home</a>
      <a href="posts">Posts</a>
      <a href="users">Users</a>
      <a href="hashtags">Hashtags</a>
      <a href="comments">Comments</a>

    </nav>
    <!--Container to hold posts
    Posts will populate from database eventually -->
    <div class="container">
      <h1>Posts</h1>
      <h2>Browse, create, update and delete posts on this page.</h2>
      <table id="post-table">
        <thead>
          <tr>
            <th>Post Number</th>
            <th>Post Author</th>
            <th>Post Contents</th>            
            <th></th>
            <th></th>                     
          </tr>
        </thead>
        <!--Each post link here will use the post ID to link to a post contents page unique to that post.-->  
        <tbody>
          {{#each data}}
          <tr data-value={{this.post_id}}>
            <td>{{this.post_id}}</td>
            <td>{{this.name}}</td>        
            <td><a href="post-details?id={{this.post_id}}">{{this.contents}}</a></td>             
            <td><a href="edit-post?id={{this.post_id}}">Edit</td>
            <td><button onclick="deletePost({{this.post_id}})">
                Delete
              </button>
            </td>
              
          </tr>
          {{/each}}
        </tbody>
      </table>
      
    </div>
    
    <!--Container for New Post form -->
    <div class="container">
      <h1>New Post</h1>
      <form id="add-post-form" method="POST" action="/add-post-form">
        <div class="form-group">
          <label for="postAuthor">Who is the author of this post?</label>
          <select name="postAuthor" id="postAuthor">
            <option value="">Select a User</option>
            {{#each userNames}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
          </select>
          <!--<input type="text" name="postAuthor" id="postAuthor">-->
          <br></br>
          <label for="postContent">Type your post here:</label>
          <textarea name="postContent" id="postContent" rows="3" required></textarea>
          <!--Hashtags added in hashtags table will generate here for user to add-->
          <label for="postHashtags">What hashtag(s) would you like to add?</label>
          <br/>
          <input type="checkbox" id="computerscience" name="postHashtags" value="#ComputerScience">
          <label for="computerscience"> #ComputerScience</label><br>
          <input type="checkbox" id="soccer" name="postHashtags" value="#Soccer">
          <label for="soccer"> #Soccer</label><br>
          <input type="checkbox" id="dogs" name="postHashtags" value="#Dogs">
          <label for="dogs"> #Dogs</label><br><br>

          
          
        </div>
        <input type="submit">
      </form>
    </div>

  <!-- Footer -->
  <footer>
      <p>&copy; 2023 SocialByte</p>
  </footer>
  </body>
</html>
